/* Default css file for jemdoc. */
@import url("theme.css");

/*
#846D71 text in menu
#C18371 headers
#FDCFBB border
#FDECE3 background
#D2D8E6 links
*/

table#tlayout {
	border: none;
	border-collapse: separate;
	background: white;
}

body {
	background: white;
	font-family: "Trebuchet MS", sans-serif;
	padding-bottom: 8px;
	margin: 0;
}

#layout-menu {
	background-image: url('images/banner.jpg'); 
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 70%;
    padding-top: 180px;
	background: var(--background);
	border: 1px solid var(--border);
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.0em;
	width: auto;
	white-space: nowrap;
	text-align: left;
	vertical-align: top;
}

#layout-menu td {
	background: var(--background);
	vertical-align: top;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
	border: none;
	background: white;
	text-align: left;
	vertical-align: top;
	min-width: 900px;
	width: 900px;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
	background: var(--background);
}

pre, tt {
	font-size: 90%;
	font-family: monaco, monospace;
}

a, a > tt {
	color: var(--links);
	text-decoration: none
}

a:hover {
	/* border-bottom: 1px gray dotted; */
	border-bottom: 1px var(--links) dotted;
}

/*
#layout-menu img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 1em;
    border-radius: 50%;
} */

#layout-menu a.current:link, #layout-menu a.current:visited {
	color: var(--menutext);
	border-bottom: 1px var(--menutext) solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: var(--menutext);
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

div.menu-category {
	/* border-bottom: 1px solid gray; */
	border-bottom: 1px solid var(--menutext);
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	text-indent: -16px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 1.5em;
	/* border-bottom: 3px double gray; */
	border-bottom: 3px double var(--menutext);
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: -0.7em;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}


h1, h2, h3 {
	color: var(--headers);
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	/* border-bottom: 1px solid #aaaaaa; */
	border-bottom: 1px solid var(--menutext);
}

h1 {
	font-size: 165%;
}

h2 {
	padding-top: 0.8em;
	font-size: 125%;
}

h2 + h3 {
	padding-top: 0.2em;
}

h3 {
	font-size: 110%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	border-top: 1px solid #8D88A0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #8D88A0;
}

div#footer a {
	color: #7c7f93;
}

div#footer-text {
	float: left;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	/* color: #222222; */
	color: #4c4f69;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li ul, li ol {
	margin-top: -0.3em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #e64553;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	/* border: 1px solid silver; */
	border: 1px solid #dce0e8;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #dc8a78;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #dce0e8;
}

span.pycommand {
	color: #1e66f5;
}

span.statement {
	color: #40a02b;
}
span.builtin {
	color: #1e66f5;
}
span.special {
	color: #d20f39;
}
span.operator {
	color: #e64553;
}
span.error {
	color: #dd7878;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #9ca0b0;
}

@media print {
	#layout-menu {
		display: none;
	}

}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.1em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
}

td {
	padding: 2px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	text-align: center;
	/* border: 1px solid gray; */
	border: 1px solid #6c6f85;
}

table + table {
	margin-top: 1em;
}

tr.heading {
	font-weight: bold;
	border-bottom: 2px solid black;
}

img {
	border: none;
}

table.imgtable, table.imgtable td {
	border: none;
	text-align: left;
}
